# .gitignore Grails

# web application files
book-svr/web-app/WEB-INF/classes

# default HSQL database files for production mode
book-svr/prodDb.*

# general HSQL database files
book-svr/*Db.properties
book-svr/*Db.script

# logs
book-svr/stacktrace.log
book-svr/test/reports
book-svr/logs

# project release file
book-svr/*.war

# plugin release files
book-svr/*.zip
book-svr/plugin.xml

# older plugin install locations
book-svr/plugins
book-svr/web-app/plugins

# "temporary" build files
book-svr/target

#ide files
book-svr/.classpath
book-svr/.project
book-svr/.settings
book-svr/target-eclipse

# .gitignore Griffon

book-client/staging
book-client/.classpath
book-client/.project
book-client/.settings
book-client/.idea
book-client/*.iml
book-client/USER_HOME
book-client/out
book-client/target


# sublime2 project
grails-domain-griffon.sublime-*

#common
book-remote/target
